<div class="user-list">
  <h1>Lista użytkowników</h1>
  <ng-container *ngFor="let user of user$ | async">
    <div class="user-list__data">
      <p>{{ user.name }}</p>
      <p>{{ user.email }}</p>
      <button class="user-list__reset" (click)="openChangePasswordModal(user)">Zresetuj hasło</button>
    </div>
  </ng-container>
</div>

<div *ngIf="isOpenModal" class="confirmation-modal">
  <div class="confirmation-modal__content">
    <h1>Czy chcesz zresetować hasło użytkownikowi: {{ selectedUserName }}</h1>

    <div class="confirmation-modal__buttons">
      <button class="deleteBtn" (click)="closeModal()">Anuluj</button>
      <button class="cancelBtn" (click)="openConfirmationModal()">Dalej</button>
    </div>
  </div>
</div>

<div *ngIf="isOpenConfimationModal" class="confirmation-modal">
  <div class="confirmation-modal__content">
    <h1>Podaj hasło admina, aby zresetować hasło</h1>
    <input type="password" [formControl]="adminPass" />

    <div class="confirmation-modal__buttons">
      <button class="delete-btn" (click)="closeResetMOdal()">Anuluj</button>
      <button class="cancel-btn" (click)="chceckIfPasswordMatch(this.adminPass.value)">Zresetuj hasło</button>
    </div>
  </div>
</div>
