.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  max-width: 40rem;
  margin: auto;
  background-color: white;
  padding: 5rem;
  border-radius: 8px;
  border: 1px solid grey;

  box-shadow: 0px 7px 20px rgba(0, 0, 0, 30%);

  h2 {
    font-size: 3rem;

  }

  mat-form-field {
    font-size: 2rem;
    margin: 0.5rem auto;
    width: 100%;

    input {
      font-size: 2rem;
      color: black;

    }
  }

  button {
    position: relative;
    display: block;
    margin: 1rem auto 0rem;
    text-align: center;
    font-size: 1.6rem;
    padding: 0.5rem 2rem;
    background-color: rgb(65, 180, 225);
    border-radius: 8px;
  }
}

.close {
  display: none;
}

mat-spinner {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(65, 180, 225);;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color:  rgb(65, 180, 225) !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: rgb(65, 180, 225) !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: rgb(65, 180, 225) !important;
}

.mat-spinner-color::ng-deep circle {
  stroke: rgb(65, 180, 225) !important;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 60px white inset !important;
}
