<ng-container *ngFor="let specialist of specDetails$ | async">
  <div class="specBox">
    <div class="specialistInfo">
      <div class="specialistInfo__img">
        <img src="https://via.placeholder.com/150" alt="placeholder_img" />
      </div>
      <div class="specialistInfo__data">
        <p>{{ specialist.first_name }} {{ specialist.last_name }}</p>

        {{ specialist.specialization }} <br />
        {{ specialist.rating }}/5
      </div>
      <div class="specialistInfo__adress">
        <p>
          Adres: <br />
          {{ specialist.address }}
        </p>
        <button>Pokaż cennik</button>
      </div>
    </div>
    <div class="specialistCalendar">
      <mat-card class="calendar">
        <mat-calendar></mat-calendar>
      </mat-card>
    </div>
  </div>
</ng-container>
