<!-- {{ buttonContent | async }} -->
<app-filter></app-filter>
<div class="list-container">
  <ng-container *ngFor="let specialist of specialist$ | async">
    <div class="spec-box">
      <div class="specialist-info">
        <div class="specialistInfo__img">
          <img src="https://via.placeholder.com/150" alt="placeholder_img" />
        </div>
        <div class="specialist-info__data">
          <a [routerLink]="['details', specialist.first_name + '-' + specialist.last_name]"
            >{{ specialist.first_name }} {{ specialist.last_name }}</a
          >
          <br />
          {{ specialist.specialization | touppercase }} <br />
          {{ specialist.rating | rating }}/5
        </div>
        <div class="specialist-info__adress">
          <p>
            Adres: <br />
            {{ specialist.address }}
          </p>
        </div>
      </div>
      <div class="specialist-calendar">
        <mat-card class="calendar">
          <mat-calendar></mat-calendar>
        </mat-card>
      </div>
    </div>
  </ng-container>
</div>
<!-- (click)="showData(specialist.first_name, specialist.last_name)" -->
