.filter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  margin: 2rem auto;
  width: 50%;
  height: 100px;
  background-color: rgba(65, 180, 225, 1 );
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.907);
  border-radius: 5px;


  h1 {
    color: white;
    margin: 0;
  }

  &__buttons {
    button {
      margin: 0rem 1rem;
      padding: 0.5rem 1rem;
      font-size: 1.6rem;
      border-radius: 8px;
      border: 1px solid grey;
      transition: all 0.3s;
      cursor: pointer;
    }

    .filter-btn:hover {
      background-color: rgb(255, 255, 255);
      transform: scale(1.1);
    }

    .clear-filter:hover {
      background-color: rgb(219, 90, 90);
      transform: scale(1.1);
    }
  }
}

.wich-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 1rem auto;
  width: 20%;
  height: 3rem;
  background-color: black;
  font-size: 1.4rem;
  color: white;
  border: 2px solid Black;
  border-radius: 5px;

  span {
    color: rgb(65, 180, 225);
    font-weight: bold;
  }
}
