<div class="filter">
  <h1>Jakiego specjalisty szukasz?</h1>
  <div class="filter__buttons">
    <button (click)="showSpecByJob('Elektryk')" class="filterBtn">Elektryk</button>
    <button (click)="showSpecByJob('Mechanik')" class="filterBtn">Mechanik</button>
    <button (click)="showSpecByJob('Zawieszenie')" class="filterBtn">Zawieszenie</button>
    <button (click)="showSpecByJob('Blacharz')" class="filterBtn">Blacharz</button>
    <button (click)="clearFilter()" class="clearFilter">Wyczyść filtry</button>
  </div>
</div>
<div class="whatFilter" *ngIf="btnContent">
  <p>
    Wyniki wyszukiwania: <span>{{ btnContent }}</span>
  </p>
</div>
