<app-header></app-header>

<div class="admin-panel" #div>
  <p>Witaj {{ (user$ | async)?.name }}</p>
  <button (click)="showAddingForm()" class="admin-panel__option"><nb-icon icon="person-add-outline"></nb-icon></button>
  <button #listButton (click)="openEditList()" class="admin-panel__option">
    <nb-icon icon="list-outline"></nb-icon>
  </button>
  <button #listButton (click)="openUsers()" class="admin-panel__option">
    <nb-icon icon="people-outline"></nb-icon>
  </button>
</div>
<app-add-specialist *ngIf="openAddingForm" (closeForm)="close($event)"></app-add-specialist>
<mat-spinner *ngIf="spinner" class="mat-spinner-color"></mat-spinner>
<app-edit-list *ngIf="openSpecialistList"></app-edit-list>
<app-user-list *ngIf="openUserList"></app-user-list>
