.specList{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 45%;
  height: 510px;
  position: relative;
  margin: 4rem auto;
  background-color: rgba(58, 58, 58, 0.97);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.907);
  border-radius: 8px;
  overflow-y: scroll;

  &__data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    font-size: 3rem;
    color: white;
    border-bottom: 1px solid rgb(65, 180, 225)
  }

  &__delete{
    background: transparent;
    border-radius: 50%;
    outline: none;
    border: none;
    color: white;
    width: 60px;
    height: 60px;
    transition: all 0.3s;
    cursor: pointer;
  }
  button:hover{
    background-color: rgb(216, 61, 61);

  }

  }
