.spec-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 45%;
  height: 510px;
  position: relative;
  margin: 4rem auto;
  background-color: rgba(58, 58, 58, 0.97);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.907);
  border-radius: 8px;
  overflow-y: scroll;


  &__title{


    color: white;
    font-size: 4rem;
  }

  &__data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 4rem;
    font-size: 2rem;
    color: white;
    border-bottom: 1px solid rgb(65, 180, 225);


  }

  &__delete, &__edit{
    background: transparent;
    border-radius: 50%;
    outline: none;
    border: none;
    color: white;
    width: 60px;
    height: 60px;
    transition: all 0.3s;
    cursor: pointer;
  }
  &__delete:hover{
    background-color: rgb(216, 61, 61);

  }

  &__edit:hover{
    border-radius: 8px;
    background-color: rgb(65, 180, 225);
  }

  }


  .confirmation-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.468) ;

    &__content{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 400px;
      height: 300px;
      background-color: #fff;
      border-radius: 8px;
      text-align: center;

      p{
        font-size: 4rem;
      }
    }

    &__buttons {
      padding: 1rem;
      width: 100%;
      display: flex;
      justify-content: space-around;

      button{
        margin: 0rem 1rem;
      padding: 0.5rem 1rem;
      font-size: 1.6rem;
      border-radius: 8px;
      border: 1px solid grey;
      transition: all 0.3s;
      cursor: pointer;
      }

      .cancel-btn:hover {
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(65, 180, 225);
        transform: scale(1.1);
      }

      .delete-btn:hover {
        background-color: rgb(219, 90, 90);
        transform: scale(1.1);
      }
    }
  }

  .edit-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.468) ;

    &__content{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 600px;
      height: 450px;
      background-color:white;
      border-radius: 8px;
      text-align: center;

  form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    mat-form-field{
      width: 70%;
      height: 50px;
      font-size: 2rem;
    }

    .cancel-btn,.edit-btn{
      border: 1px solid black;
      margin: 1rem;
    }

    .cancel-btn:hover{
      background-color: rgb(219, 90, 90);
    }
    .edit-btn:hover{
      background-color:  rgb(65, 180, 225);;
    }
  }
    }
  }

  mat-spinner {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(65, 180, 225);
    z-index: 3;
  }
  .mat-spinner-color::ng-deep circle {
    stroke: rgb(65, 180, 225) !important;
  }


  ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color:  rgb(65, 180, 225) !important;
  }


  ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: rgb(65, 180, 225) !important;
  }

  ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: rgb(65, 180, 225) !important;
  }

  /* Change the white to any color */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 60px white  inset !important;
    color: white !important;
  }

