.dialogBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30vw;
  height: 30vh;

  h1 {
    font-size: 2.2rem;
  }
  p {
    font-size: 1.2rem;
  }
}

.mat-spinner-color::ng-deep circle {
  stroke: rgb(65, 180, 225) !important;
}
