<ng-container>
  <div class="add-form">
    <h1>Dodaj specjalistę</h1>

    <form [formGroup]="form" class="add-form__form" (ngSubmit)="addSpecialist()">
      <p>Dane specjalisty:</p>
      <mat-form-field>
        <input matInput type="text" formControlName="first_name" maxlength="20" />
        <mat-placeholder class="placeholder">wpisz imię:</mat-placeholder>
        <mat-error *ngIf="form.controls['first_name'].errors?.['required']">imię jest wymagane!</mat-error>
        <mat-error *ngIf="form.controls['first_name'].errors?.['minlength']">za krótkie dane!</mat-error>
        <mat-error *ngIf="form.controls['first_name'].errors?.['pattern']"
          >imię musi zaczynać się od dużej litery!</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" formControlName="last_name" maxlength="20" />
        <mat-placeholder class="placeholder">wpisz nazwisko:</mat-placeholder>
        <mat-error *ngIf="form.controls['last_name'].errors?.['required']">imię jest wymagane!</mat-error>
        <mat-error *ngIf="form.controls['last_name'].errors?.['minlength']">za krótkie dane!</mat-error>
        <mat-error *ngIf="form.controls['last_name'].errors?.['pattern']"
          >nazwisko musi zaczynać się od dużej litery!</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>wybierz specjalizację</mat-label>
        <mat-select formControlName="selectedValue" name="food">
          <mat-option *ngFor="let spec of specialization" [value]="spec.value">
            <P>{{ spec.viewValue }}</P>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" formControlName="address" maxlength="40" />
        <mat-placeholder class="placeholder">wpisz adres:</mat-placeholder>
        <mat-error *ngIf="form.controls['address'].errors?.['required']">imię jest wymagane!</mat-error>
        <mat-error *ngIf="form.controls['address'].errors?.['minlength']">za krótkie dane!</mat-error>
      </mat-form-field>
      <label class="rating">
        <p>Nadaj pierwszy rating: <span>(opcjonalne)</span></p>
        <star-rating [starType]="'svg'" [rating]="3" (starClickChange)="onClick($event)"></star-rating>
      </label>

      <button [disabled]="!this.form.valid" mat-raised-button class="add-form__button">Dodaj specjalistę</button>
    </form>
  </div>
</ng-container>
