<div class="header">
  <div class="header__container">
    <div class="header__logo">
      <a (click)="backToHome()"><span>Znany</span><nb-icon icon="settings-2-outline"></nb-icon><span>Mechol</span></a>
    </div>

    <input
      *ngIf="(isAdmin$ | async) === false; else adminInfo"
      [formControl]="search"
      (keyup.enter)="searchValue()"
      type="text"
      class="header__search"
      placeholder="szukaj specjalisty" />
    <ng-template #adminInfo>
      <h2>PANEL ADMINA</h2>
    </ng-template>
    <div class="header__login">
      <a *ngIf="(isLoggedIn$ | async) === false; else helloUser" [routerLink]="'/login'"
        >Zaloguj <nb-icon icon="log-in-outline"></nb-icon
      ></a>
      <ng-template #helloUser
        ><div class="welcomeP">
          <a (click)="openModal()">Wyloguj <nb-icon icon="log-out-outline"></nb-icon></a></div
      ></ng-template>
    </div>
  </div>
</div>

<div *ngIf="isOpenModal" class="confirmation-modal">
  <div class="confirmation-modal__content">
    <h1>{{ (user$ | async)?.name }},</h1>
    <h2>Czy na pewno chcesz się wylogować?</h2>
    <div class="confirmation-modal__buttons">
      <button class="cancel-btn" (click)="closeModal()">Anuluj</button>
      <button class="delete-btn" (click)="logout()">Tak, wyloguj mnie</button>
    </div>
  </div>
</div>
